/*************************************************************************************/
/*  THIS PROJECT AND ITS FILES ARE ALL PROTECTED WITH LIGAL LICENSE. PROHIBITED TO   */
/*MODIFY IT OR SELL TO OTHERS BY ANYONE EXCEPT THE MAIN OWNER WHO HAS THE INTELLECTUAL*/
/*          PROPERTY RIGHTS ON THIS FRAMEWORK PROJECT AND ITS FILES.                 */  
/*************************************************************************************/
/*  THIS FRAMEWORK WAS CREATED AND DESIGNED BY/ FRONT-END DEVELOPER: SAIF AL TAHAWY  */
/*                                DATE: 9 JUNE 2018                                  */
/*                      ALL RIGHTS RESERVED FOR THE DEVELOPER.                       */
/*   YOU CAN GET IT ALSO FROM MY GITHUB ACCOUNT: https://github.com/Saif-AL-Tahawy   */
/*                                 TO CONTACT ME:                                    */
/*                      HOTMAIL: SAIFALISLAM16@HOTMAIL.COM                           */
/*                       GMAIL: ISLAMALTAHAWY96@GMAIL.COM                            */
/*                LINKEDIN: https://www.linkedin.com/in/programmersaif/              */
/*************************************************************************************/
/*************************************************************************************/

/*ElementsResets GLobal & Remark Reset with some Properties*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/********/
.remark-slide-content h1,
.remark-slide-content h2,
.remark-slide-content h3,
.remark-slide-content h4,
.remark-slide-content h5,
.remark-slide-content h6 {
  margin: 0;
  padding: 0; }

/*main*/
/*************/
/* Container */
/*************/
html.remark-container,
body.remark-container {
  height: 100%;
  width: 100%;
  -webkit-print-color-adjust: exact; }

.remark-container {
  background: #d7d8d2;
  margin: 0;
  overflow: hidden; }

.remark-container:focus {
  outline-style: solid;
  outline-width: 1px; }

:-webkit-full-screen .remark-container {
  width: 100%;
  height: 100%; }

/**********/
/* Slides */
/**********/
.remark-slides-area {
  position: relative;
  height: 100%;
  width: 100%; }

.remark-slide-container {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  page-break-after: always; }

.remark-slide-scaler {
  background-color: transparent;
  overflow: hidden;
  position: absolute;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top-left;
  transform-origin: top-left;
  -webkit-box-shadow: 0 0 30px #888;
  box-shadow: 0 .0 30px #888;
  height: 100vh; }

.remark-slide {
  height: 100%;
  width: 100%;
  display: block; }

.remark-slide-content {
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  font-size: 20px;
  padding: 0;
  height: 100%; }

.remark-slide-content h1 {
  font-size: 55px;
  padding: 0;
  margin: 0; }

.remark-slide-content h2 {
  font-size: 45px;
  padding: 0;
  margin: 0; }

.remark-slide-content h3 {
  font-size: 35px;
  padding: 0;
  margin: 0; }

.remark-slide-content .left {
  display: block;
  text-align: left; }

.remark-slide-content .center {
  display: block;
  text-align: center; }

.remark-slide-content .right {
  display: block;
  text-align: right; }

.remark-slide-number {
  bottom: 12px;
  opacity: 0.5;
  position: absolute;
  right: 20px; }

.remark-slide-notes {
  border-top: 3px solid black;
  position: absolute;
  display: none; }

.remark-code {
  font-size: 18px; }

.remark-code-line {
  min-height: 1em; }

.remark-code-line-highlighted {
  background-color: rgba(255, 255, 0, 0.5); }

.remark-code-span-highlighted {
  background-color: rgba(255, 255, 0, 0.5);
  padding: 1px 2px 2px 2px; }

.remark-visible {
  display: block;
  z-index: 2; }

.remark-fading {
  display: block;
  z-index: 1; }

.remark-fading .remark-slide-scaler {
  -webkit-box-shadow: none;
  box-shadow: none; }

/************/
/* Backdrop */
/************/
.remark-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  background: #000;
  z-index: 2; }

/*****************/
/* Pause overlay */
/*****************/
.remark-pause {
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  display: none;
  position: absolute;
  z-index: 1000; }

.remark-pause .remark-pause-lozenge {
  margin-top: 30%;
  text-align: center; }

.remark-pause .remark-pause-lozenge span {
  color: white;
  background: black;
  border: 2px solid black;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  padding: 20px 30px;
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  font-size: 42pt;
  font-weight: bold; }

.remark-container.remark-presenter-mode.remark-pause-mode .remark-pause {
  display: block; }

.remark-container.remark-presenter-mode.remark-pause-mode .remark-backdrop {
  display: block;
  opacity: 0.5; }

/********/
/* Help */
/********/
.remark-help {
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  display: none;
  position: absolute;
  z-index: 1000;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top-left;
  transform-origin: top-left; }

.remark-help .remark-help-content {
  color: white;
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  font-size: 12pt;
  position: absolute;
  top: 5%;
  bottom: 10%;
  height: 10%;
  left: 5%;
  width: 90%; }

.remark-help .remark-help-content h1 {
  font-size: 36px; }

.remark-help .remark-help-content td {
  color: white;
  font-size: 12pt;
  padding: 10px; }

.remark-help .remark-help-content td:first-child {
  padding-left: 0; }

.remark-help .remark-help-content .key {
  background: white;
  color: black;
  min-width: 1em;
  display: inline-block;
  padding: 3px 6px;
  text-align: center;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 14px; }

.remark-help .dismiss {
  top: 85%; }

.remark-container.remark-help-mode .remark-help {
  display: block; }

.remark-container.remark-help-mode .remark-backdrop {
  display: block;
  opacity: 0.95; }

/******************/
/* Presenter mode */
/******************/
.remark-preview-area {
  bottom: 2%;
  left: 2%;
  display: none;
  opacity: 0.5;
  position: absolute;
  height: 47.25%;
  width: 48%; }

.remark-preview-area .remark-slide-container {
  display: block; }

.remark-notes-area {
  background: #e7e8e2;
  bottom: 0;
  display: none;
  left: 52%;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0; }

.remark-notes-area .remark-top-area {
  height: 50px;
  left: 20px;
  position: absolute;
  right: 10px;
  top: 10px; }

.remark-notes-area .remark-bottom-area {
  position: absolute;
  top: 75px;
  bottom: 10px;
  left: 20px;
  right: 10px; }

.remark-notes-area .remark-bottom-area .remark-toggle {
  display: block;
  text-decoration: none;
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  border-bottom: 1px solid #ccc;
  height: 21px;
  font-size: 0.75em;
  font-weight: bold;
  text-transform: uppercase;
  color: #666;
  text-shadow: #f5f5f5 1px 1px 1px; }

.remark-notes-area .remark-bottom-area .remark-notes-current-area {
  height: 70%;
  position: relative; }

.remark-notes-area .remark-bottom-area .remark-notes-current-area .remark-notes {
  clear: both;
  border-top: 1px solid #f5f5f5;
  position: absolute;
  top: 22px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow-y: auto;
  margin-bottom: 20px; }

.remark-notes-area .remark-bottom-area .remark-notes-preview-area {
  height: 30%;
  position: relative; }

.remark-notes-area .remark-bottom-area .remark-notes-preview-area .remark-notes-preview {
  border-top: 1px solid #f5f5f5;
  position: absolute;
  top: 22px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow-y: auto; }

.remark-notes-area .remark-bottom-area .remark-notes > *:first-child,
.remark-notes-area .remark-bottom-area .remark-notes-preview > *:first-child {
  margin-top: 5px; }

.remark-notes-area .remark-bottom-area .remark-notes > *:last-child,
.remark-notes-area .remark-bottom-area .remark-notes-preview > *:last-child {
  margin-bottom: 0; }

.remark-toolbar {
  color: #979892;
  vertical-align: middle; }

.remark-toolbar .remark-toolbar-link {
  border: 2px solid #d7d8d2;
  color: #979892;
  display: inline-block;
  padding: 2px 2px;
  text-decoration: none;
  text-align: center;
  min-width: 20px; }

.remark-toolbar .remark-toolbar-link:hover {
  border-color: #979892;
  color: #676862; }

.remark-toolbar .remark-toolbar-timer {
  border: 2px solid black;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: black;
  color: white;
  display: inline-block;
  float: right;
  padding: 5px 10px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 175%;
  text-decoration: none;
  text-align: center; }

.remark-container.remark-presenter-mode .remark-slides-area {
  top: 2%;
  left: 2%;
  height: 47.25%;
  width: 48%; }

.remark-container.remark-presenter-mode .remark-preview-area {
  display: block; }

.remark-container.remark-presenter-mode .remark-notes-area {
  display: block; }

/************/
/* Blackout */
/************/
.remark-container.remark-blackout-mode:not(.remark-presenter-mode) .remark-backdrop {
  display: block;
  opacity: 0.99; }

/************/
/* Mirrored */
/************/
.remark-container.remark-mirrored-mode:not(.remark-presenter-mode) .remark-slides-area {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1); }

/************/
/* Printing */
/************/
@media print {
  .remark-container {
    overflow: visible;
    background-color: #fff; }

  .remark-container.remark-presenter-mode .remark-slides-area {
    top: 0px;
    left: 0px;
    height: 100%;
        /*
  NOTE: 100% doesn't match @page size width or height
        681px matching @page size/width does, however
*/
    width: 681px; }

  .remark-container.remark-presenter-mode .remark-preview-area,
  .remark-container.remark-presenter-mode .remark-notes-area {
    display: none; }

  .remark-container.remark-presenter-mode .remark-slide-notes {
    display: block;
    margin-left: 30px;
    width: 621px; }

  .remark-slide-container {
    display: block;
    position: relative; }

  .remark-slide-scaler {
    -webkit-box-shadow: none;
    box-shadow: none; } }
@page {
  margin: 0; }
/************/
/*framework:*/
/*gridsystem*/
.container, .intro,
.image-up,
.image-up-padded,
.full-screen,
.full-screen-padded,
.image-down,
.image-down-padded,
.two-col,
.two-col-padded,
.three-col,
.three-col-padded,
.image-right,
.image-right-padded,
.image-left,
.image-full,
.image-left-padded {
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto; }

.w-1,
.w-2,
.w-3,
.w-4,
.w-5,
.w-6,
.w-7,
.w-8,
.w-9,
.w-10,
.w-11 {
  float: left;
  overflow: hidden; }

.w-12 {
  width: 100%; }

.w-11 {
  width: 91.66666667%; }

.w-10 {
  width: 83.33333333%; }

.w-9 {
  width: 75%; }

.w-8 {
  width: 66.66666667%; }

.w-7 {
  width: 58.33333333%; }

.w-6 {
  width: 50%; }

.w-5 {
  width: 41.66666667%; }

.w-4 {
  width: 33.33333333%; }

.w-3 {
  width: 25%; }

.w-2 {
  width: 16.66666667%; }

.w-1 {
  width: 8.33333333%; }

.h-12,
.h-11,
.h-10,
.h-9,
.h-8,
.h-7,
.h-6,
.h-5,
.h-4,
.h-3,
.h-2,
.h-1 {
  overflow: hidden; }

.h-12 {
  height: 100%; }

.h-11 {
  height: 91.66666667%; }

.h-10 {
  height: 83.33333333%; }

.h-9 {
  height: 75%; }

.h-8 {
  height: 66.66666667%; }

.h-7 {
  height: 58.33333333%; }

.h-6 {
  height: 50%; }

.h-5 {
  height: 41.66666667%; }

.h-4 {
  height: 33.33333333%; }

.h-3 {
  height: 25%; }

.h-2 {
  height: 16.66666667%; }

.h-1 {
  height: 8.33333333%; }

.w-12-h-1,
.w-12-h-2,
.w-12-h-3,
.w-12-h-4,
.w-12-h-5,
.w-12-h-6,
.w-12-h-7,
.w-12-h-8,
.w-12-h-9,
.w-12-h-10,
.w-12-h-11,
.w-12-h-12 {
  width: 100%;
  overflow-x: hidden; }

.w-11-h-12,
.w-11-h-11,
.w-11-h-10,
.w-11-h-9,
.w-11-h-8,
.w-11-h-7,
.w-11-h-6,
.w-11-h-5,
.w-11-h-4,
.w-11-h-3,
.w-11-h-2,
.w-11-h-1 {
  width: 91.66666667%;
  overflow-x: hidden;
  float: left; }

.w-10-h-12,
.w-10-h-11,
.w-10-h-10,
.w-10-h-9,
.w-10-h-8,
.w-10-h-7,
.w-10-h-6,
.w-10-h-5,
.w-10-h-4,
.w-10-h-3,
.w-10-h-2,
.w-10-h-1 {
  width: 83.33333333%;
  overflow-x: hidden;
  float: left; }

.w-9-h-12,
.w-9-h-11,
.w-9-h-10,
.w-9-h-9,
.w-9-h-8,
.w-9-h-7,
.w-9-h-6,
.w-9-h-5,
.w-9-h-4,
.w-9-h-3,
.w-9-h-2,
.w-9-h-1 {
  width: 75%;
  overflow-x: hidden;
  float: left; }

.w-8-h-12,
.w-8-h-11,
.w-8-h-10,
.w-8-h-9,
.w-8-h-8,
.w-8-h-7,
.w-8-h-6,
.w-8-h-5,
.w-8-h-4,
.w-8-h-3,
.w-8-h-2,
.w-8-h-1 {
  width: 66.66666667%;
  overflow-x: hidden;
  float: left; }

.w-7-h-12,
.w-7-h-11,
.w-7-h-10,
.w-7-h-9,
.w-7-h-8,
.w-7-h-7,
.w-7-h-6,
.w-7-h-5,
.w-7-h-4,
.w-7-h-3,
.w-7-h-2,
.w-7-h-1 {
  width: 58.33333333%;
  overflow-x: hidden;
  float: left; }

.w-6-h-12,
.w-6-h-11,
.w-6-h-10,
.w-6-h-9,
.w-6-h-8,
.w-6-h-7,
.w-6-h-6,
.w-6-h-5,
.w-6-h-4,
.w-6-h-3,
.w-6-h-2,
.w-6-h-1 {
  width: 50%;
  overflow-x: hidden;
  float: left; }

.w-5-h-12,
.w-5-h-11,
.w-5-h-10,
.w-5-h-9,
.w-5-h-8,
.w-5-h-7,
.w-5-h-6,
.w-5-h-5,
.w-5-h-4,
.w-5-h-3,
.w-5-h-2,
.w-5-h-1 {
  width: 41.66666667%;
  overflow-x: hidden;
  float: left; }

.w-4-h-12,
.w-4-h-11,
.w-4-h-10,
.w-4-h-9,
.w-4-h-8,
.w-4-h-7,
.w-4-h-6,
.w-4-h-5,
.w-4-h-4,
.w-4-h-3,
.w-4-h-2,
.w-4-h-1 {
  width: 33.33333333%;
  overflow-x: hidden;
  float: left; }

.w-3-h-12,
.w-3-h-11,
.w-3-h-10,
.w-3-h-9,
.w-3-h-8,
.w-3-h-7,
.w-3-h-6,
.w-3-h-5,
.w-3-h-4,
.w-3-h-3,
.w-3-h-2,
.w-3-h-1 {
  width: 25%;
  overflow-x: hidden;
  float: left; }

.w-2-h-12,
.w-2-h-11,
.w-2-h-10,
.w-2-h-9,
.w-2-h-8,
.w-2-h-7,
.w-2-h-6,
.w-2-h-5,
.w-2-h-4,
.w-2-h-3,
.w-2-h-2,
.w-2-h-1 {
  width: 16.66666667%;
  overflow-x: hidden;
  float: left; }

.w-1-h-12,
.w-1-h-11,
.w-1-h-10,
.w-1-h-9,
.w-1-h-8,
.w-1-h-7,
.w-1-h-6,
.w-1-h-5,
.w-1-h-4,
.w-1-h-3,
.w-1-h-2,
.w-1-h-1 {
  width: 8.33333333%;
  overflow-x: hidden;
  float: left; }

.w-12-h-1,
.w-11-h-1,
.w-10-h-1,
.w-9-h-1,
.w-8-h-1,
.w-7-h-1,
.w-6-h-1,
.w-5-h-1,
.w-4-h-1,
.w-3-h-1,
.w-2-h-1,
.w-1-h-1 {
  height: 8.33333333%;
  max-height: 8.33333333%;
  overflow-y: hidden; }

.w-12-h-2,
.w-11-h-2,
.w-10-h-2,
.w-9-h-2,
.w-8-h-2,
.w-7-h-2,
.w-6-h-2,
.w-5-h-2,
.w-4-h-2,
.w-3-h-2,
.w-2-h-2,
.w-1-h-2 {
  height: 16.66666667%;
  max-height: 16.66666667%;
  overflow-y: hidden; }

.w-12-h-3,
.w-11-h-3,
.w-10-h-3,
.w-9-h-3,
.w-8-h-3,
.w-7-h-3,
.w-6-h-3,
.w-5-h-3,
.w-4-h-3,
.w-3-h-3,
.w-2-h-3,
.w-1-h-3 {
  height: 25%;
  max-height: 25%;
  overflow-y: hidden; }

.w-12-h-4,
.w-11-h-4,
.w-10-h-4,
.w-9-h-4,
.w-8-h-4,
.w-7-h-4,
.w-6-h-4,
.w-5-h-4,
.w-4-h-4,
.w-3-h-4,
.w-2-h-4,
.w-1-h-4 {
  height: 33.33333333%;
  max-height: 33.33333333%;
  overflow-y: hidden; }

.w-12-h-5,
.w-11-h-5,
.w-10-h-5,
.w-9-h-5,
.w-8-h-5,
.w-7-h-5,
.w-6-h-5,
.w-5-h-5,
.w-4-h-5,
.w-3-h-5,
.w-2-h-5,
.w-1-h-5 {
  height: 41.66666667%;
  max-height: 41.66666667%;
  overflow-y: hidden; }

.w-12-h-6,
.w-11-h-6,
.w-10-h-6,
.w-9-h-6,
.w-8-h-6,
.w-7-h-6,
.w-6-h-6,
.w-5-h-6,
.w-4-h-6,
.w-3-h-6,
.w-2-h-6,
.w-1-h-6 {
  height: 50%;
  max-height: 50%;
  overflow-y: hidden; }

.w-12-h-7,
.w-11-h-7,
.w-10-h-7,
.w-9-h-7,
.w-8-h-7,
.w-7-h-7,
.w-6-h-7,
.w-5-h-7,
.w-4-h-7,
.w-3-h-7,
.w-2-h-7,
.w-1-h-7 {
  height: 58.33333333%;
  max-height: 58.33333333%;
  overflow-y: hidden; }

.w-12-h-8,
.w-11-h-8,
.w-10-h-8,
.w-9-h-8,
.w-8-h-8,
.w-7-h-8,
.w-6-h-8,
.w-5-h-8,
.w-4-h-8,
.w-3-h-8,
.w-2-h-8,
.w-1-h-8 {
  height: 66.66666667%;
  max-height: 66.66666667%;
  overflow-y: hidden; }

.w-12-h-9,
.w-11-h-9,
.w-10-h-9,
.w-9-h-9,
.w-8-h-9,
.w-7-h-9,
.w-6-h-9,
.w-5-h-9,
.w-4-h-9,
.w-3-h-9,
.w-2-h-9,
.w-1-h-9 {
  height: 75%;
  max-height: 75%;
  overflow-y: hidden; }

.w-12-h-10,
.w-11-h-10,
.w-10-h-10,
.w-9-h-10,
.w-8-h-10,
.w-7-h-10,
.w-6-h-10,
.w-5-h-10,
.w-4-h-10,
.w-3-h-10,
.w-2-h-10,
.w-1-h-10 {
  height: 83.33333333%;
  max-height: 83.33333333%;
  overflow-y: hidden; }

.w-12-h-11,
.w-11-h-11,
.w-10-h-11,
.w-9-h-11,
.w-8-h-11,
.w-7-h-11,
.w-6-h-11,
.w-5-h-11,
.w-4-h-11,
.w-3-h-11,
.w-2-h-11,
.w-1-h-11 {
  height: 91.66666667%;
  max-height: 91.66666667%;
  overflow-y: hidden; }

.w-12-h-12,
.w-11-h-12,
.w-10-h-12,
.w-9-h-12,
.w-8-h-12,
.w-7-h-12,
.w-6-h-12,
.w-5-h-12,
.w-4-h-12,
.w-3-h-12,
.w-2-h-12,
.w-1-h-12 {
  height: 100%;
  max-height: 100%;
  overflow-y: hidden; }

.clear {
  clear: both; }

/*flexbox*/
.flex-container {
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap; }

.flex-item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
  max-width: none; }

.align-content-start {
  -ms-flex-line-pack: start !important;
  -webkit-align-content: flex-start !important;
          align-content: flex-start !important; }

.align-content-end {
  -ms-flex-line-pack: end !important;
  -webkit-align-content: flex-end !important;
          align-content: flex-end !important; }

.align-content-center {
  -ms-flex-line-pack: center !important;
  -webkit-align-content: center !important;
          align-content: center !important; }

.align-self-start {
  -ms-flex-item-align: start !important;
  -webkit-align-self: flex-start !important;
          align-self: flex-start !important; }

.align-self-end {
  -ms-flex-item-align: end !important;
  -webkit-align-self: flex-end !important;
          align-self: flex-end !important; }

.align-self-center {
  -ms-flex-item-align: center !important;
  -webkit-align-self: center !important;
              -ms-grid-row-align: center !important;
          align-self: center !important; }

.justify-content-start {
  -webkit-box-pack: start !important;
  -ms-flex-pack: start !important;
  -webkit-justify-content: flex-start !important;
          justify-content: flex-start !important; }

.justify-content-end {
  -webkit-box-pack: end !important;
  -ms-flex-pack: end !important;
  -webkit-justify-content: flex-end !important;
          justify-content: flex-end !important; }

.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  -webkit-justify-content: center !important;
          justify-content: center !important; }

/*margins & paddings*/

.m-0 {
  margin: 0 !important; }

.mt-0,
.my-0 {
  margin-top: 0 !important; }

.mr-0,
.mx-0 {
  margin-right: 0 !important; }

.mb-0,
.my-0 {
  margin-bottom: 0 !important; }

.ml-0,
.mx-0 {
  margin-left: 0 !important; }

.m-1 {
  margin: 0.25rem !important; }

.mt-1,
.my-1 {
  margin-top: 0.25rem !important; }

.mr-1,
.mx-1 {
  margin-right: 0.25rem !important; }

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important; }

.ml-1,
.mx-1 {
  margin-left: 0.25rem !important; }

.m-2 {
  margin: 0.5rem !important; }

.mt-2,
.my-2 {
  margin-top: 0.5rem !important; }

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important; }

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important; }

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important; }

.m-3 {
  margin: 1rem !important; }

.mt-3,
.my-3 {
  margin-top: 1rem !important; }

.mr-3,
.mx-3 {
  margin-right: 1rem !important; }

.mb-3,
.my-3 {
  margin-bottom: 1rem !important; }

.ml-3,
.mx-3 {
  margin-left: 1rem !important; }

.m-4 {
  margin: 1.5rem !important; }

.mt-4,
.my-4 {
  margin-top: 1.5rem !important; }

.mr-4,
.mx-4 {
  margin-right: 1.5rem !important; }

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important; }

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important; }

.m-5 {
  margin: 3rem !important; }

.mt-5,
.my-5 {
  margin-top: 3rem !important; }

.mr-5,
.mx-5 {
  margin-right: 3rem !important; }

.mb-5 {
  margin-bottom: 3rem !important; }

.ml-5,
.mx-5 {
  margin-left: 3rem !important; }

.p-0 {
  padding: 0 !important; }

.pt-0,
.py-0 {
  padding-top: 0 !important; }

.pr-0,
.px-0 {
  padding-right: 0 !important; }

.pb-0,
.py-0 {
  padding-bottom: 0 !important; }

.pl-0,
.px-0 {
  padding-left: 0 !important; }

.p-1 {
  padding: 0.25rem !important; }

.pt-1,
.py-1 {
  padding-top: 0.25rem !important; }

.pr-1,
.px-1 {
  padding-right: 0.25rem !important; }

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important; }

.pl-1,
.px-1 {
  padding-left: 0.25rem !important; }

.p-2 {
  padding: 0.5rem !important; }

.pt-2,
.py-2 {
  padding-top: 0.5rem !important; }

.pr-2,
.px-2 {
  padding-right: 0.5rem !important; }

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important; }

.pl-2,
.px-2 {
  padding-left: 0.5rem !important; }

.p-3 {
  padding: 1rem !important; }

.pt-3,
.py-3 {
  padding-top: 1rem !important; }

.pr-3,
.px-3 {
  padding-right: 1rem !important; }

.pb-3,
.py-3 {
  padding-bottom: 1rem !important; }

.pl-3,
.px-3 {
  padding-left: 1rem !important; }

.p-4 {
  padding: 1.5rem !important; }

.pt-4,
.py-4 {
  padding-top: 1.5rem !important; }

.pr-4,
.px-4 {
  padding-right: 1.5rem !important; }

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important; }

.pl-4,
.px-4 {
  padding-left: 1.5rem !important; }

.p-5, .intro-padded,
.image-up-padded,
.full-screen-padded,
.image-down-padded,
.two-col-padded,
.three-col-padded,
.image-right-padded,
.image-left-padded,
.image-full-padded, .padded, .intro .w-12 {
  padding: 3rem !important; }

.pt-5,
.py-5 {
  padding-top: 3rem !important; }

.pr-5,
.px-5 {
  padding-right: 3rem !important; }

.pb-5,
.py-5 {
  padding-bottom: 3rem !important; }

.pl-5,
.px-5 {
  padding-left: 3rem !important; }

.m-auto {
  margin: auto !important; }

.mt-auto,
.my-auto {
  margin-top: auto !important; }

.mr-auto,
.mx-auto {
  margin-right: auto !important; }

.mb-auto,
.my-auto {
  margin-bottom: auto !important; }

.ml-auto,
.mx-auto {
  margin-left: auto !important; }


/*image responsiveness*/
.img-cover, div.img-cover img, .two-col div img,
.two-col-padded div img, .image-left div img,
.image-left-padded div img {
  -o-object-fit: cover;
  object-fit: cover; }

.img-fill, div.img-fill img, .image-up .w-12-h-12 img,
.image-up .w-12-h-11 img,
.image-up .w-12-h-10 img,
.image-up .w-12-h-9 img,
.image-up .w-12-h-8 img,
.image-up .w-12-h-7 img,
.image-up .w-12-h-6 img,
.image-up .w-12-h-5 img,
.image-up .w-12-h-4 img,
.image-up .w-12-h-3 img,
.image-up .w-12-h-2 img,
.image-up .w-12-h-1 img,
.image-up-padded .w-12-h-12 img,
.image-up-padded .w-12-h-11 img,
.image-up-padded .w-12-h-10 img,
.image-up-padded .w-12-h-9 img,
.image-up-padded .w-12-h-8 img,
.image-up-padded .w-12-h-7 img,
.image-up-padded .w-12-h-6 img,
.image-up-padded .w-12-h-5 img,
.image-up-padded .w-12-h-4 img,
.image-up-padded .w-12-h-3 img,
.image-up-padded .w-12-h-2 img,
.image-up-padded .w-12-h-1 img, .image-right div img,
.image-right-padded div img, .image-full div img {
  -o-object-fit: fill;
  object-fit: fill; }

.img-contain, div.img-contain img {
  -o-object-fit: contain;
  object-fit: contain; }

.img-scale {
  -o-object-fit: scale-down;
  object-fit: scale-down; }

.img-responsive, div.img-responsive img, .image-down div img,
.image-down-padded div img {
  width: 100%;
  height: auto; }

.img-limit, div.img-limit img, .two-col div img,
.two-col-padded div img {
  max-height: 400px; }

/*floating*/
.fl-left {
  float: left; }

.fl-right, .two-col div img,
.two-col-padded div img {
  float: right; }

.clear {
  clear: both; }

/*overlay background color*/
.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%; }

/*hide overflow*/
.hide-overflow {
  overflow: hidden; }

/*layouts styles*/
.intro,
.vertical-align-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
          align-content: center; }

.vertical-align-center {
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto; }

/*layouts styles*/
/*optional*/
/*public*/
/*layout1*/
.intro .w-12 {
  text-align: center; }

/*layout2*/
.image-up,
.image-up-padded {
  text-align: center; }

/*layout3*/
.full-screen ul li,
.image-down ul li,
.two-col ul li,
.three-col ul li,
.image-right ul li,
.image-left ul li,
.full-screen-padded ul li,
.image-down-padded ul li,
.two-col-padded ul li,
.three-col-padded ul li,
.image-right-padded ul li,
.image-left-padded ul li {
  font-size: 23px;
  margin: 10px 22px;
  line-height: 1.6em; }

/*layout4*/
/*layout5*/
/*layout7*/
/*layout8*/
/*.intro h1,
.image-up h1,
.full-screen h1,
.image-down h1,
.two-col h1,
.three-col h1,
.image-right h1,
.image-left h1,
.image-full h1 {
    font-size: 3em;
}*/
.hide-overflow {
  overflow: hidden; }

.hide-overflow-x {
  overflow-x: hidden; }

.hide-overflow-y {
  overflow-y: hidden; }
